--
-- PostgreSQL database dump
--

\restrict EdA8FtIebhg02H4a7jNUNHHRfX1QoOwCM2w7k4lMhaBv00Abz8f0jNkROZyw4bH

-- Dumped from database version 17.6 (0d47993)
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: neondb_owner
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO neondb_owner;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: neondb_owner
--

COMMENT ON SCHEMA public IS '';


--
-- Name: ActivityType; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."ActivityType" AS ENUM (
    'JointDegree',
    'DoubleDegree',
    'JointClass',
    'StudentExchange',
    'VisitingProfessor',
    'JointResearch',
    'JointPublication',
    'JointCommunityService',
    'SocialProject',
    'General'
);


ALTER TYPE public."ActivityType" OWNER TO neondb_owner;

--
-- Name: ApprovalStatus; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."ApprovalStatus" AS ENUM (
    'Approved',
    'Returned',
    'Submitted',
    'Pending',
    'Skipped'
);


ALTER TYPE public."ApprovalStatus" OWNER TO neondb_owner;

--
-- Name: Category; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."Category" AS ENUM (
    'Sidang',
    'Keuangan',
    'Wisuda',
    'Sekretariat',
    'Wadek1',
    'Wadek2',
    'ProdiS1',
    'ProdiS2'
);


ALTER TYPE public."Category" OWNER TO neondb_owner;

--
-- Name: DocType; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."DocType" AS ENUM (
    'MoA',
    'MoU',
    'IA'
);


ALTER TYPE public."DocType" OWNER TO neondb_owner;

--
-- Name: Feedback; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."Feedback" AS ENUM (
    '1',
    '2',
    '3'
);


ALTER TYPE public."Feedback" OWNER TO neondb_owner;

--
-- Name: PartnershipType; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."PartnershipType" AS ENUM (
    'Akademik',
    'Penelitian',
    'Abdimas'
);


ALTER TYPE public."PartnershipType" OWNER TO neondb_owner;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."Role" AS ENUM (
    'mahasiswa',
    'dosen'
);


ALTER TYPE public."Role" OWNER TO neondb_owner;

--
-- Name: ScheduleStatus; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."ScheduleStatus" AS ENUM (
    'draft',
    'pending',
    'sent',
    'cancelled'
);


ALTER TYPE public."ScheduleStatus" OWNER TO neondb_owner;

--
-- Name: Scope; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."Scope" AS ENUM (
    'national',
    'international'
);


ALTER TYPE public."Scope" OWNER TO neondb_owner;

--
-- Name: Sender; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."Sender" AS ENUM (
    'user',
    'bot',
    'admin'
);


ALTER TYPE public."Sender" OWNER TO neondb_owner;

--
-- Name: Status; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."Status" AS ENUM (
    'open',
    'in_progress',
    'resolved'
);


ALTER TYPE public."Status" OWNER TO neondb_owner;

--
-- Name: Step; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public."Step" AS ENUM (
    'select_role',
    'ask_lecturer_name',
    'lecturer_select_unit',
    'ask_student_nim',
    'ask_student_name',
    'menu',
    'chat',
    'awaiting_feedback'
);


ALTER TYPE public."Step" OWNER TO neondb_owner;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Admins; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public."Admins" (
    id integer NOT NULL,
    username text NOT NULL,
    full_name text NOT NULL,
    password text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Admins" OWNER TO neondb_owner;

--
-- Name: Admins_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public."Admins_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Admins_id_seq" OWNER TO neondb_owner;

--
-- Name: Admins_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public."Admins_id_seq" OWNED BY public."Admins".id;


--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO neondb_owner;

--
-- Name: contacts; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.contacts (
    id integer NOT NULL,
    name text NOT NULL,
    title text NOT NULL,
    phone_number text NOT NULL,
    notes text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.contacts OWNER TO neondb_owner;

--
-- Name: contacts_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.contacts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.contacts_id_seq OWNER TO neondb_owner;

--
-- Name: contacts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.contacts_id_seq OWNED BY public.contacts.id;


--
-- Name: conversations; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.conversations (
    id integer NOT NULL,
    user_id integer NOT NULL,
    category public."Category",
    last_bot_message_id integer,
    step public."Step" NOT NULL,
    created_at timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.conversations OWNER TO neondb_owner;

--
-- Name: conversations_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.conversations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.conversations_id_seq OWNER TO neondb_owner;

--
-- Name: conversations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.conversations_id_seq OWNED BY public.conversations.id;


--
-- Name: messages; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.messages (
    id integer NOT NULL,
    conversation_id integer NOT NULL,
    sender public."Sender" NOT NULL,
    message_text text NOT NULL,
    need_human boolean DEFAULT false,
    feedback public."Feedback",
    created_at timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.messages OWNER TO neondb_owner;

--
-- Name: messages_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.messages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.messages_id_seq OWNER TO neondb_owner;

--
-- Name: messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.messages_id_seq OWNED BY public.messages.id;


--
-- Name: partnership_documents; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.partnership_documents (
    id integer NOT NULL,
    year_issued integer NOT NULL,
    doc_type public."DocType",
    partner_name text NOT NULL,
    scope public."Scope",
    pic_external text,
    pic_internal text,
    doc_number_internal text,
    doc_number_external text,
    date_created timestamp(3) without time zone,
    signing_type text,
    date_signed timestamp(3) without time zone,
    valid_until timestamp(3) without time zone,
    notes text,
    has_hardcopy boolean DEFAULT false NOT NULL,
    has_softcopy boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    activity_type public."ActivityType",
    partnership_type public."PartnershipType",
    approval_dekan public."ApprovalStatus",
    approval_dir_spio public."ApprovalStatus",
    approval_dir_sps public."ApprovalStatus",
    approval_kabag_kst public."ApprovalStatus",
    approval_kabag_sekpim public."ApprovalStatus",
    approval_kaur_legal public."ApprovalStatus",
    approval_rektor public."ApprovalStatus",
    approval_wadek1 public."ApprovalStatus",
    approval_wadek2 public."ApprovalStatus",
    approval_warek1 public."ApprovalStatus",
    doc_link text,
    duration text,
    pic_external_phone text
);


ALTER TABLE public.partnership_documents OWNER TO neondb_owner;

--
-- Name: partnership_documents_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.partnership_documents_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.partnership_documents_id_seq OWNER TO neondb_owner;

--
-- Name: partnership_documents_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.partnership_documents_id_seq OWNED BY public.partnership_documents.id;


--
-- Name: schedule_recipients; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.schedule_recipients (
    id integer NOT NULL,
    schedule_id integer NOT NULL,
    contact_id integer
);


ALTER TABLE public.schedule_recipients OWNER TO neondb_owner;

--
-- Name: schedule_recipients_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.schedule_recipients_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.schedule_recipients_id_seq OWNER TO neondb_owner;

--
-- Name: schedule_recipients_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.schedule_recipients_id_seq OWNED BY public.schedule_recipients.id;


--
-- Name: schedules; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.schedules (
    id integer NOT NULL,
    event_title text NOT NULL,
    event_description text NOT NULL,
    event_time timestamp(3) without time zone NOT NULL,
    reminder_time timestamp(3) without time zone NOT NULL,
    status public."ScheduleStatus" DEFAULT 'pending'::public."ScheduleStatus" NOT NULL,
    created_by text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.schedules OWNER TO neondb_owner;

--
-- Name: schedules_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.schedules_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.schedules_id_seq OWNER TO neondb_owner;

--
-- Name: schedules_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.schedules_id_seq OWNED BY public.schedules.id;


--
-- Name: unresolved; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.unresolved (
    id integer NOT NULL,
    message_id integer NOT NULL,
    status public."Status" DEFAULT 'open'::public."Status",
    assigned_to character varying(100),
    created_at timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.unresolved OWNER TO neondb_owner;

--
-- Name: unresolved_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.unresolved_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.unresolved_id_seq OWNER TO neondb_owner;

--
-- Name: unresolved_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.unresolved_id_seq OWNED BY public.unresolved.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.users (
    id integer NOT NULL,
    "phoneNumber" character varying(30) NOT NULL,
    name character varying(200),
    role public."Role",
    identifier character varying(255),
    created_at timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.users OWNER TO neondb_owner;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO neondb_owner;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: Admins id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Admins" ALTER COLUMN id SET DEFAULT nextval('public."Admins_id_seq"'::regclass);


--
-- Name: contacts id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.contacts ALTER COLUMN id SET DEFAULT nextval('public.contacts_id_seq'::regclass);


--
-- Name: conversations id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.conversations ALTER COLUMN id SET DEFAULT nextval('public.conversations_id_seq'::regclass);


--
-- Name: messages id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.messages ALTER COLUMN id SET DEFAULT nextval('public.messages_id_seq'::regclass);


--
-- Name: partnership_documents id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.partnership_documents ALTER COLUMN id SET DEFAULT nextval('public.partnership_documents_id_seq'::regclass);


--
-- Name: schedule_recipients id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.schedule_recipients ALTER COLUMN id SET DEFAULT nextval('public.schedule_recipients_id_seq'::regclass);


--
-- Name: schedules id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.schedules ALTER COLUMN id SET DEFAULT nextval('public.schedules_id_seq'::regclass);


--
-- Name: unresolved id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.unresolved ALTER COLUMN id SET DEFAULT nextval('public.unresolved_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: Admins; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public."Admins" (id, username, full_name, password, "createdAt", "updatedAt") FROM stdin;
1	nyomanpaul	Nyoman Paul Kristian	$2b$10$1btcd5mCSQ8KvtA8hKEa4OgNgOyCcPs0AFeAKxYjpJ6ykPkBFWxeG	2025-10-24 08:16:37.32	2025-10-24 08:16:37.32
2	mtyaspawitra	Mohammad Tyas Pawitra	$2b$10$uiEMTQpymwKo0XJYcI43UuuXpt.KCcU5EnPPiV7d.GWWBNtVI/4e2	2025-10-29 03:54:50.711	2025-10-29 03:54:50.711
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: contacts; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: conversations; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.conversations (id, user_id, category, last_bot_message_id, step, created_at) FROM stdin;
2	1	Sidang	19	awaiting_feedback	2025-10-29 03:29:13
1	1	Sekretariat	\N	menu	2025-10-24 06:40:36
3	2	\N	\N	select_role	2025-10-29 09:14:12
4	1	\N	\N	menu	2025-11-18 10:15:29
\.


--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: partnership_documents; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: schedule_recipients; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.schedule_recipients (id, schedule_id, contact_id) FROM stdin;
1	1	\N
2	1	\N
4	3	\N
7	6	\N
9	8	\N
12	11	\N
14	13	\N
16	15	\N
18	17	\N
19	18	\N
20	19	\N
24	25	20
29	30	34
30	31	34
31	32	34
32	33	34
33	34	34
34	35	20
35	35	34
36	36	20
37	36	34
38	37	20
\.


--
-- Data for Name: schedules; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: unresolved; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.unresolved (id, message_id, status, assigned_to, created_at, updated_at) FROM stdin;
2	19	open	\N	2025-10-29 03:30:35	2025-10-29 03:30:34.647
1	9	resolved	admin_Rina	2025-10-24 09:21:15	2025-10-29 06:35:25.115
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.users (id, "phoneNumber", name, role, identifier, created_at) FROM stdin;
1	6285157455205@c.us	Rizal Kutawa	dosen	\N	2025-10-24 06:40:35
2	120363406764411190@g.us	\N	\N	\N	2025-10-29 09:14:11
\.


--
-- Name: Admins_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public."Admins_id_seq"', 2, true);


--
-- Name: contacts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.contacts_id_seq', 39, true);


--
-- Name: conversations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.conversations_id_seq', 4, true);


--
-- Name: messages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.messages_id_seq', 25, true);


--
-- Name: partnership_documents_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.partnership_documents_id_seq', 457, true);


--
-- Name: schedule_recipients_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.schedule_recipients_id_seq', 38, true);


--
-- Name: schedules_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.schedules_id_seq', 37, true);


--
-- Name: unresolved_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.unresolved_id_seq', 2, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.users_id_seq', 2, true);


--
-- Name: Admins Admins_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public."Admins"
    ADD CONSTRAINT "Admins_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: contacts contacts_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.contacts
    ADD CONSTRAINT contacts_pkey PRIMARY KEY (id);


--
-- Name: conversations conversations_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT conversations_pkey PRIMARY KEY (id);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: partnership_documents partnership_documents_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.partnership_documents
    ADD CONSTRAINT partnership_documents_pkey PRIMARY KEY (id);


--
-- Name: schedule_recipients schedule_recipients_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.schedule_recipients
    ADD CONSTRAINT schedule_recipients_pkey PRIMARY KEY (id);


--
-- Name: schedules schedules_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.schedules
    ADD CONSTRAINT schedules_pkey PRIMARY KEY (id);


--
-- Name: unresolved unresolved_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.unresolved
    ADD CONSTRAINT unresolved_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: Admins_username_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "Admins_username_key" ON public."Admins" USING btree (username);


--
-- Name: contacts_phone_number_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX contacts_phone_number_key ON public.contacts USING btree (phone_number);


--
-- Name: conversation_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX conversation_id ON public.messages USING btree (conversation_id);


--
-- Name: message_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX message_id ON public.unresolved USING btree (message_id);


--
-- Name: partnership_documents_doc_number_external_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX partnership_documents_doc_number_external_key ON public.partnership_documents USING btree (doc_number_external);


--
-- Name: partnership_documents_doc_number_internal_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX partnership_documents_doc_number_internal_key ON public.partnership_documents USING btree (doc_number_internal);


--
-- Name: user_id; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX user_id ON public.conversations USING btree (user_id);


--
-- Name: users_phoneNumber_key; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX "users_phoneNumber_key" ON public.users USING btree ("phoneNumber");


--
-- Name: conversations conversations_ibfk_1; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT conversations_ibfk_1 FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: messages messages_ibfk_1; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_ibfk_1 FOREIGN KEY (conversation_id) REFERENCES public.conversations(id) ON DELETE CASCADE;


--
-- Name: schedule_recipients schedule_recipients_contact_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.schedule_recipients
    ADD CONSTRAINT schedule_recipients_contact_id_fkey FOREIGN KEY (contact_id) REFERENCES public.contacts(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: schedule_recipients schedule_recipients_schedule_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.schedule_recipients
    ADD CONSTRAINT schedule_recipients_schedule_id_fkey FOREIGN KEY (schedule_id) REFERENCES public.schedules(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: unresolved unresolved_ibfk_1; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.unresolved
    ADD CONSTRAINT unresolved_ibfk_1 FOREIGN KEY (message_id) REFERENCES public.messages(id) ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: neondb_owner
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO neon_superuser WITH GRANT OPTION;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON TABLES TO neon_superuser WITH GRANT OPTION;


--
-- PostgreSQL database dump complete
--

\unrestrict EdA8FtIebhg02H4a7jNUNHHRfX1QoOwCM2w7k4lMhaBv00Abz8f0jNkROZyw4bH

